.card{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 80px;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  border-radius: 15px 15px 15px 15px;
  box-shadow: -1px 4px 28px 0px rgba(94, 164, 137, 0.75);
  border: 1px solid rgb(41, 63, 8);
  background: rgb(62, 62, 202);
  background: linear-gradient(90deg, rgba(8, 138, 171, 0.676) 0%,rgba(6, 138, 96, 0.452) 100%);

 }
 .card  h1{
  color: #384c32e7;
  text-align: center;
  font-family:cursive;
  font-size: large;
  font-style: oblique;
  border-radius: 10%;

}
.card  h6{
  color: #384c32e7;
  text-align: center;
  font-size: x-small;
  font-family: cursive;
}
 label{
   color: #222;
   font-family:cursive;
 }
 input {
  background: rgba(255,255,255,0.4);
  border: none;
  outline: none;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
 a{
  text-decoration-line: none;
  font-family:'cursive';
  text-align: end;
  font-weight: 700;
}
.error-message {
  color: red;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
}
