.form-control{
  background:transparent;
}
::placeholder{
  font-weight: bold;
  color: #020101;
}

.btn{
  background: linear-gradient(120deg, darkmagenta, crimson, orange);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}
.icon-red {
  color: red;
}
.icon-blue {
  color: rgba(3, 3, 192, 0.333);
}

th,td{
  background: linear-gradient(90deg, rgba(220, 163, 20, 0.485), rgba(255, 166, 0, 0.413));
  font-size: large;
  font-weight:800;
  font-family: cursive;
}

