<nav class="navbar navbar-dark bg-light justify-content-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: RGB(146, 168, 209);">Employee Management Details</a>

    <ul class="nav justify-content-end" >
      <li class="nav-item">
        <a class="nav-link active"  aria-current="page" routerLink="/Home">Add Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/Login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" routerLink="/contactus">ContactUs</a>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-primary" routerLink="/SignUp"  type="submit">Logout</button>
      </li>

    </ul>
  </div>

</nav>


